<script>
    function sent_prof() {
        var msg   = $('#formx').serialize();

       // alert (msg);

        $.ajax({
            type: 'POST',
            url: 'http://ldform/ajax/ajax/sent_profile/',
            data: msg,
            success: function(data) {
                $('#alert').html('Данные успешно сохранены');
                alert (data);
            },
            error:  function(xhr, str){
                alert('Возникла ошибка: ' + xhr.responseCode);
            }
        });
    }
</script>
<h4 class="modal-title">Добавить профиль для принятия сообщений</h4>
<form  method="post" id="formx" action="javascript:void(null);" onsubmit="sent_prof()">
<div class="form-group">
    <label> Выберети тип профиля</label>
    <select class="form-control" id="type" name="type">
        <option value="FB messenger">FB messenger</option>
        <option value="Telegram">Telegram</option>
        <option value="Vk.com">Vk.com</option>
        <option value="Slack">Slack</option>
        <option value="email">email</option>
    </select>

</div>
<div class="form-group">
    <label for="profile_name">Название профиля</label>
        <input type="text" class="form-control" id="profile_name" name="profile_name" placeholder="например: vk.com Peter" value="" />
</div>

<input type="submit">
    </form>